.edit {
    margin-left: 25%;
    margin-top: -0%;
    width: 100%;
    height: fit-content;
}

.editProperty {
    position: absolute;
    margin-top: -47%;
    margin-left: 18%;
}

label {
    padding: 5px 0px;
}