.propertymgmt {
    margin-top: -40%;
    margin-left: 18%;
}

.propertyDetails {
    width: 98%;
    max-height: 70vh;
    overflow-y: auto;
}

.noproperty {
    margin-left: 45%;
    margin-top: -30%;
}

.error {
    margin-left: 13%;
}

.edit {
    margin-left: 25%;
    margin-top: -0%;
    width: 100%;
    height: fit-content;
}

.editProperty {
    position: absolute;
}

label {
    padding: 5px 0px;
}