.loading-dots::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75%,
    100% {
        content: "...";
    }
}

.logout-btn-container {
    border: none;
    background: transparent;
    border-radius: 25px;
    font-size: 22px;
    display: none;
    padding: 8px;

    &:hover {
        background-color: var(--hover);
    }
}

.logout-btn-icon {
    color: var(--text);
}

.logout-btn {
    background: transparent;
    border: none;
    border-radius: 6px;
    padding: 12px 15px;
    color: var(--text);

    &:hover {
        background-color: var(--hover);
    }
}

.logout-icon {
    color: var(--submenu-text);
    cursor: pointer;
    border-radius: 25px;
    padding: 8px;
}

.header-theme-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

/* Mobile */
@media (max-width: 768px) {
    .header-theme-logout {
        order: 3;
    }

    .logout-btn-container {
        display: flex;
    }


    .logout-btn {
        display: none;
    }
}